<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

    <body>
        <nav>
            <div class="site-title">
                <h1>Blog Site</h1>
                <p>The Net Ninja</p>
            </div>
            <ul>
                <li><a href="/">Blogs</a></li>
                <li><a href="/about">about</a></li>
                <li><a href="/blogs/create">create Blog</a></li>
            </ul>
        </nav>
        <h1>OOPS wrong page</h1>
        <%- include("./partials/footer.ejs") %>
    </body>

</html>