<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>
            <div class="para">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla sint dolores eius dignissimos commodi velit ad temporibus. Qui, quasi id eum quae voluptatibus officia. Beatae placeat incidunt distinctio culpa saepe dolorum laborum, perferendis
                    voluptas officia ea expedita, earum accusamus eaque tempore ut sapiente veritatis iure.</p>

            </div>
            <div class="flex-conatiner">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa distinctio aliquid non totam est dolores eveniet sunt aliquam. Reiciendis sunt a veniam iste. Atque doloremque nisi ratione amet deserunt aliquam dolorum exercitationem vel
                    natus consequuntur minus accusamus dicta, adipisci unde earum quam molestiae ut hic.</p>
            </div>
            <%- include("./partials/footer.ejs") %>
    </body>

</html>